@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.MenuList{
    list-style-type: none;
    display: flex;
    width: 50%;
    justify-content: space-evenly;

}

.HomeContainer{
    background-image: url('../../Assets/HomeBg.jpg');
    height: 100vh;
    position: relative;

}

.MenuContainer{
    background-color: rgb(156, 162, 162);
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
}

.MenuList li{
    display: inline-block;
    margin: 10px 15px;
}

.MenuList li a{
    text-decoration: none;
    color: black;
}

.HomeData{
    color: white;
    text-align: left;
    margin: 100px;
    position: absolute;
}

.title{
    font-size: 75px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0px;
}

.titleDescription{
    font-size: 50px;
    margin: 0px 10px;
    font-family: "Bebas Neue";
}


@media screen and (max-width:760px) {
   .HomeContainer{
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    background-color: rebeccapurple;
   }

   .HomeData{
    
    margin:150px 0px 10px 10px;
   }

    .title{
        font-size: 45px;
    }

    .titleDescription{
        font-size: 25px;
    }

    .MenuList{
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
   
}